{{ define "Account" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div>
        <div>
            <h2>Account</h2>
        </div>
        <div>
            <table border="1" cellpadding="3" cellspacing="0">
                <thead>
                    <tr>
                        <td>Account Number</td>
                        <td>Name</td>
                        <td>Address</td>
                        <td>Identity Number</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {{ range . }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td> {{ .Name }} </td>
                        <td>{{ .Address }} </td> 
                        <td>{{ .IdentityNumber }} </td>
                        <td><a href="/deposit?id={{ .ID }}">Choose</a></td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
  {{ template "Footer" }}
{{ end }}