{{ define "Menu" }} 
<a href="/registration" style="text-decoration:none;">Registration</a> | 
<a href="/account" style="text-decoration:none;">Account</a> | 
<a href="/history" style="text-decoration:none;">History</a> | 
<a href="/balance" style="text-decoration:none;">Balance</a>
{{ end }}